/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styling */
header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Main Content Styling */
main {
    padding: 20px;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

section {
    margin-bottom: 30px;
}

#forecast-temp {
    display: flex;
    gap: 10px;
}

#forecast-temp div {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

#members-list ul {
    list-style: none;
    padding: 0; /* Added padding reset */
}

#members-list ul li {
    background-color: #eee;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

/* Footer Styling */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
#main-nav {
    background: #444;
    color: #fff;
    padding: 10px 0;
}

#main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the links */
    padding: 0; /* Remove default padding */
}

#main-nav ul li {
    margin: 0 15px; /* Space between links */
}

#main-nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

#main-nav ul li a:hover {
    background: #555;
    border-radius: 5px;
}
